@import "config";

.menu-btn {
	position: absolute;
	z-index: 5;
	right: 1rem;
	top: 1rem;
	height: 20px;
	width: 28px;
	cursor: pointer;
	@include transition-ease;

	&__burger {
		content: "&nbsp;";
		position: absolute;
		font-size: 0px;
		padding: 10px 20px;
		right: 0;
		top: 0.5rem;
		width: 28px;
		height: 3px;
		background: $edgy-white;
		@include transition-ease;

		&::before {
			display: inline-block;
			content: " ";
			position: absolute;
			top: -8px;
			width: 28px;
			height: 3px;
			background: $edgy-white;
			@include transition-ease;
		}
		&::after {
			content: " ";
			position: absolute;
			top: 8px;
			width: 20px;
			height: 3px;
			background: $edgy-white;
			@include transition-ease;
		}
	}
}
