* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
}

.home__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}

.home h1 {
  padding-left: 40px;
  position: relative;
  top: 60vh;
  text-align: start;
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  color: rgba(233, 233, 233, 0.9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pane {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), url("https://th.bing.com/th/id/OIP.7EX_Amt8j1wf5-rjsEKLhAHaD3?pid=ImgDet&rs=1") center top;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 5;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  font-size: 0px;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  display: inline-block;
  content: " ";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: " ";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(90deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(3px, -6.5px);
  width: 28px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  color: black;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  height: 100vh;
  overflow: hidden;
  list-style-type: none;
  padding-right: 1rem;
  transform: tranlsateY(100%);
}

.nav .menu-nav.open {
  transform: translateY(0);
  background-color: black;
}

.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  color: white;
}

.nav .menu-nav__link:hover {
  color: lightgray;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.12s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.19s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.26s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.33s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .about__bio {
    font-size: 1.5rem;
  }
  .projects__bio-image {
    height: 40vh;
  }
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .projects__bio-image {
    height: 40vh;
  }
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

body {
  background-color: #272727;
  color: #ffffff;
  width: 100vw;
  font-family: "Kanit", sans-serif;
}

h1 {
  font-family: "Secular One", sans-serif;
  font-weight: 800;
}

h2 {
  font-family: "Kanit", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

.social {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.social a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}

.social a:hover {
  color: #ffffff;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */